@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

header {
    background-image: linear-gradient(180deg, #3304aa, #16abbb );
    color: white;
}