@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

header {
    background-image: linear-gradient(180deg, #3304aa, #16abbb );
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

#search-container {
    padding: 10px;
    margin: 10px;
}

#history-container {
    border-top: solid gray 2px;
    margin-top: 10px;
}

#city-container {
    border: solid gray 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#forecast-container {
    border: solid gray 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.forecast {
    background-color: gray;
    color:white;
    padding: 10px;
}

.low-uvi {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.moderate-uvi {
    background-color: orange;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.high-uvi {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.extreme-uvi {
    background-color: purple;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}